; System Config
; Example
[mysql]
user = ""
pass = ""
dbname = ""
dbhost = ""

[idsql]
user = ""
pass = ""
dc   = ""
host = ""
session = ""

[ldap]
host = ""
port = ""
dc = ""

[SOASQLSP]
user = ""
pass = ""
host = ""
port = ""
database = ""

[soap]
user = ""
pass = ""
domain = ""
url = ""

[print]
script = ""

[datetime]
timezone = ""

[html]
headline = ""

[system]
;section is deprecated
dir_base = ""
dir_www = ""
